.changePasswordBanner{
position: relative;
    height:1080px;
	width:2040px;
    background-image: url("https://assets.weforum.org/article/image/3_AfzFP4fkZH228ctZ5GnRe3TXuBErXM-_ZXG00lyLA.jpg");  
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius:0px;
}
.changePasswordContainer {
background-color: #FFFFFF;
	opacity:1;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.buttonChangePassword {
    	border-radius: 20px;
    margin-top: 25px;
	border: 1px solid #FADF90;
	background-color: #FADF90;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.inputProfile:focus::placeholder {
  color: transparent;
}
.inputProfile:hover::placeholder {
    color: #ebd492;
    }
.inputProfile::placeholder {
	color: #a39980;
}
.inputProfile::target-text {
	color: black;
}
/* .inputClass:: {
	color: black;
} */
.inputProfile{
	border-radius: 5px;
    width:250px;
    height: 40px;
    padding: 0 7px;
    margin: 10px;
	color:black;
}
 .inputProfile {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #FADF90;
    color: #FADF90;
    }