label{
   text-align: bottom;
   font-size: xx-large;
}
/* #view_flight div{
  background-color: green;
} */
.nStyle th {
background-color:rgb(14, 14, 83);
color:white;
font-size: medium;
   display: inline-block;
   width: 160px;
   /* border-color: lawngreen; */
   /* border-color-th: ; */
   height:max-content

}
.nStyle td {
   background-color:snow !important;
   color:navy;
   display: inline-block;
   /* margin-left: 0px; */
   /* width: 160px; */
   /* border-color: lawngreen; */
   height:max-content;
  
   
   /* padding: 1px; */
   /* margin-top: 5px; */
}
#view_flight table{ 
  /* height:fit-content;
	width:fit-content
  ; */
    background-image: url("https://assets.weforum.org/article/image/3_AfzFP4fkZH228ctZ5GnRe3TXuBErXM-_ZXG00lyLA.jpg");  
    background-size: cover;
    justify-content: center;
    z-index: -1;
    /* display: table-footer-group; */
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}
#summary1 table{ 
  /* height:fit-content;
	width:fit-content
  ; */
    background-image: url("https://assets.weforum.org/article/image/3_AfzFP4fkZH228ctZ5GnRe3TXuBErXM-_ZXG00lyLA.jpg");  
    background-size: cover;
    justify-content: center;
    
    /* display: table-footer-group; */
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}
#view_flight {
  background-image: url("https://assets.weforum.org/article/image/3_AfzFP4fkZH228ctZ5GnRe3TXuBErXM-_ZXG00lyLA.jpg");  
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat; 
  /* height: 1500px; */
   z-index: -2;
}

/* #view_flight tbody tr:hover {
   
   box-shadow: 0 0 30px 0 navy; 
   /* width:fit-content !important; */
   
/*}  */
#view_flight tbody tr:not([typeof]):hover {
   
  box-shadow: 0 0 30px 0 #FFCD12;
  /* width:fit-content !important; */
  

  
} 
#view_flight tbody tr[typeof] {
  font-weight: bold;
 /* box-shadow: 0 0 30px 0 navy;  */
 /* width:fit-content !important; */
 
}
.button:hover{
  box-shadow: 0 0 30px 0 #FFCD12; 
}

/* #summary tbody tr:hover {
   
  box-shadow: 0 0 30px 0 navy; 
  width:fit-content !important;
  

  
}  */
#view_flight table  th{
  background-color: #FADF90;
  color: #ffffff;
  font-size: medium;
      /* display: inline-block; */
      /* width: 160px; */
      /* border-color: lawngreen; */
      /* border-color-th: ; */
      height:max-content
}
#view_flight table td{
  background-color:snow !important;
  /* color:navy; */
  /* display: inline-block; */
  /* margin-left: 0px; */
   /*width: 160px; */
  /* border-color: lawngreen; */
  height:max-content;
  
<<<<<<< HEAD
  
}
#view_flight .div {
=======
}

#summary{
  display: block;
  margin-top: calc(20%);
}
#view_flight div {
>>>>>>> origin/nouran
 display: inline-block;
 /* background-color: darkgreen; */
 display:inline-flex;
 /* flex-direction: row  ;*/
  
  
}
#view_flight h1 {
  text-align: center !important;
  width: 100%;
   color: #fff;
   
   
 }
 #summary h1 {
  text-align: center !important;
  width: 100%;
  color: #fff;
   
   
 }
 #payment h1{
  text-align: center !important;
  width: 100%;
  color: rgb(214, 54, 54);
   

 }
/* #diplay_flight_info p{
  display: block ;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: darkgreen;
  
} */


#summary table th{
  background-color: #FADF90;
    color: #ffffff;
  font-size: medium;
      /* display: inline-block; */
      width: 160px;
      /* border-color: lawngreen; */
      /* border-color-th: ; */
      height:max-content
}
#summary table td{
  background-color:snow !important;
  /* color:navy; */
  /* display: inline-block; */
  /* margin-left: 0px; */
  width: 160px;
  /* border-color: lawngreen; */
  height:max-content
  
}
#summary table td{
  /* border: 1px solid black; */
  /* border-color: navy ; */
  border-bottom: 1px solid #dddddd;
  /* display: inline-block; */
  /* margin-left: 0px; */
 
  
}
#summary_button button{
   display: inline-block;
   margin-left: 100px;
   margin-right: 100px;
   text-align: center;
   font-size: large;
   font-weight: bold;
  
   border-radius: 20px;
   margin-top: 25px;
   border: 1px solid #FADF90;
   background-color: #FADF90;
   background: -webkit-linear-gradient(to right, #FFCD12, #FADF90);
   background: linear-gradient(to right, #FFCD12, #FADF90);
   color: #FFFFFF;
   font-size: 12px;
   font-weight: bold;
   padding: 12px 45px;
   letter-spacing: 1px;
   text-transform: uppercase;
   transition: transform 80ms ease-in;
}
#summary_button button:hover{
 
  box-shadow: 0 0 30px 0 #FADF90; 
}
#view_flight button:hover{
 
  box-shadow: 0 0 30px 0 #FADF90; 
}

/* .nStyle tbody tr {
    border-color: #85fa1f !important;
  
  

  
}  */
.nStyle .tbody  .td {
  /* background-color:dimgray !important; */
  display:inline-block;
  height:max-content

  /* width: 100%; */
  /* margin-left: 0 !important; */
  /* text-align: center; */

  
}
.nStyle .tbody  .tr {
  /* background-color:dimgray !important; */
  margin-left: 0px !important;
  /* border-color: lawngreen; */

  /* width: 100%; */
  /* margin-left: 0 !important; */
  /* text-align: center; */

  
}

/* .special_td {
  
  display:inline-block;

  width: 200px !important;
  
} */

.test1 {
  
  display:inline-block;

  /* width: 200px !important; */
  
}
.test  .button{

  /* display:inline-block;
  position:absolute; */
  /* position:static; */
  /* left: 200px;
  top:100px; */
  /* right: 0mm; */
  /* top:19cm; */
  /* right: 0.5%; 
  width: 500px; */
  margin-right: 20px;
  margin-left: 20px;
  /* clear:left; */
}
#view_flight  button:disabled {
  background-color: gray !important;
  box-shadow: 0 0 1px 0 rgb(245, 245, 247) !important; 

  cursor: default;
}



.nStyle table {
   width: 100%;
   height: 80%;
   display: flex !important;
   flex-direction: column;
  
   display:inline-block;

}
#view_flight button{
  background: -webkit-linear-gradient(to right, #FFCD12, #FADF90);
	background: linear-gradient(to right, #FFCD12, #FADF90);
  width: max-content;
  height: max-content;
  margin-right: 20px;
  margin-left: 10px;
}
.nStyle,test{
   display: inline-block;
}
.nStyle tbody,label  {
  display: inline-block;
 /* width: 1360px !important; */
 /* display: flex;
 flex-direction: row; */
}
/* button:hover {
  cursor:pointer;
} */
.nStyle .table .p{
  /* width: 90%; */
  width: 100%;
  height: 100px;
  display:inline-block;
  /* margin-left: 0px; */
  font-weight: bold;
  font-size: xx-large;
  /* color: red; */
  /* box-sizing: border-box; */
  /* padding: 40px; */
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  /* width: 100%; */
  border: darkgreen;
}
.spicalButton.spicalButtonRigth .button{
  /* width: 100px; */
  /* right: 0px; */
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  margin-right: 40px ;

}
.spicalButton .button {
  /* width: 100px; */
  /* right: 0px; */
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  margin-right: 200px !important;
  margin-left: 200px !important;

}
.spicalButton{
  display:inline-block;
  /* margin-right: 400px ; */


}


.color{
    color:violet;
}
/* .para{
   font-weight: bold;
   font-size: xx-large;
   color: red;
} */
.form .label{
   font-size:medium;
   text-align: center;
   /* text-align: justify; */
   /* justify-content: center; */
   display:inline-block;
   width: 160px;
   /* text-align: center; */
   /* padding: 10px; */
}

.form_label_special {
   font-size:medium;
   /* text-align: left; */
   /* text-align: justify; */
   /* justify-content: center; */
   display:inline-block;
   width: 60px !important;
   text-align: center;
   /* padding: 10px; */
}
.form form {
   box-shadow: 0 0 30px 0 navy; 
   display: inline-block;
   /* margin-right: 25px; */
   width: 90%;
   /* text-align: center; */
   /* line-height: 30px; */
   height: 80%;
   overflow: auto;
   padding: 30px;
 }
 .form button:hover {
   box-shadow: 0 0 30px 0 navy; 
   }
  
   .form input  {
       /* margin-left: 25px;*/
       margin-right: 150px; 
       width: 25%;
       }
       .form select  {
           /* margin-left: 25px;*/
           margin-right: 150px; 
           width: 25%;
           }
       
       
   .form input:hover::placeholder {
          color:navy ;
     }
 .form button {
   /* box-shadow: 0 0 30px 0 navy;  */
   background-color:navy;
   width: max-content;
   height: max-content;
   margin-right: 20px;
   margin-left: 10px;
   display: inline-block;
 }
/* input {
   display: inline-block;;
   box-sizing: border-box;
   background-color: violet;;
} */
html, body {
  min-height: 100%;
  }
  body, div, form, input, select, textarea, p { 
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
  }
  h1 {
  position: absolute;
  margin: 0;
  line-height: 55px;
  font-size: 55px;
  color: #fff;
  z-index: 2;
  }
  .testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px;
  }
  form {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 30px 0 #43d8a6; 
  }
  .banner {
  position: relative;
  height: 230px;
  background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/ttbw-90-aerial-forest-16x9-2-no-logo.jpg");  
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  .banner::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4); 
  position: absolute;
  width: 100%;
  height: 100%;
  }
  input, select, textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  }
  input {
  width: calc(100% - 10px);
  padding: 5px;
  }
  select {
  width: 100%;
  padding: 7px 0;
  background: transparent;
  }
  textarea {
  width: calc(100% - 12px);
  padding: 5px;
  }
  .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
  color: #43d8a6;
  }
  .item input:hover, .item select:hover, .item textarea:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 6px 0 #43d8a6;
  color: #43d8a6;
  }
  .item {
  position: relative;
  margin: 10px 0;
  }
  input[type=radio], input[type=checkbox]  {
  display: none;
  }
  label.radio {
  position: relative;
  display: inline-block;
  margin: 5px 20px 15px 0;
  cursor: pointer;
  }
  .question span {
  margin-left: 30px;
  }
  label.radio:before {
  content: "";
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #ccc;
  }
  /* input[type=radio]:checked + label:before, label.radio:hover:before {
  border: 2px solid #43d8a6;
  } */
  label.radio:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 8px;
  height: 4px;
  /* border: 3px solid #43d8a6; */
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
  }
  input[type=radio]:checked + label:after {
  opacity: 1;
  }
  .btn-block {
  margin-top: 10px;
  text-align: center;
  }
  button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px; 
  /* background: #43d8a6; */
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  }
  /* button:hover {
  box-shadow: 0 0 18px 0 #32a780;
  } */
  @media (min-width: 568px) {
  .name-item, .city-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  .date-item input, .city-item input {
  width: calc(50% - 20px);
  }
  .city-item select {
  width: calc(50% - 8px);
  }
  }
